.bg

#boxmodel {
width: 300px;
border: 30px white;
padding: 80px;
margin: 40px;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

.lead {
  font-size:30px;
}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
}

h4 {
  font-family: 'Anton', sans-serif;
  font-size: 20px;
}

h5 {
  font-family: 'Anton', sans-serif;
  font-size: 15px;
}

p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 15px;
}

.caption {
  font-size: 10px;
  text-align: center;
}

footer {
  display: block;
  font-size: 5px;
}

img {
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

li {
font-family: 'Times New Roman', sans-serif;
font-weight: 800;
font-size: 17px;
}

.card {
  display: inline-block;
}

.card-title {
  text-align: center;
}

.caption {
  font-family: 'Times New Roman', sans-serif;
  font-size: 12px;
  text-align: left;
}

.infog {
  font-family: 'Anton', sans-serif;
  color: #FF6703
}

#header {
  text-align: right;
}

.pquote {
    float: right;
    width: 200px;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

.float {
  float: left;
  margin: 0;
  padding: 13px;
  object-position: left;
}

blockquote {
    margin: 0;
}

.pquote {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #BA4A00;
    line-height: 1;
    padding: 13px;
    float: right;
}

#right {
  float: right;
}

.pquote p:first-of-type {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #BA4A00;
}

.footer {
  font-size: 8px;

}


a {
  text-decoration: underline;
  color: #BA4A00;
}
a:hover {
  text-decoration: none;
  color: #F5B041;
}
a:visited {
  text-decoration: underline;
  color: #F1C40F;
  }
