
p {
  font-family: "Helvetica", Arial, sans-serif;
  text-size: 12px;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  text-size: 12px;
}

H1 {
  font-family: Verdana;
  font-size: 30px;
}

H2 {
  font-family: Verdana;
  font-size: 25px;
}

H3 {
  font-family: Verdana;
  font-size: 20px;
}

H5 {
  font-family: Verdana;
  font-size: 13px;
}

#byline {
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
}

#container {
  width: 100%;
  min-width: 500px;
  max-width: 900px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}
/* also wrong
#boxmodelish {
  width: 300px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}
*/

.specs {
  column-count: 1;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

blockquote {
  font-family: Verdana;
  text-align: right;
  font-size: 22px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: orange;
  margin-right:50px;
  padding-right: 15px;
  border-right: 4px solid #ccc;
}
