/* STYLES FOR MY RESUME */
BODY{
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444
}

#container {
  width: 100%;
  max-width: 1200px;
  margin:  0 auto;
}

/* banner name at top, used to be h1 */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* changing name at top */
strong {
  font-size:1.5em;
  text-transform: uppercase;
  color: #33485e
}

/* section titles, used to be h2 */
.sectionheader {
  margin-bottom: 10 px;
  margin-top: 20;
  margin-left: 0 px;
  margin-right: 0 px;
  width: 70%;
  min-width: 300px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
}

/* job titles, used to be h3 */
.jobtitles {
  font-weight:600;
  font-size: 1.5em;
}

/* workplace title, h4 */
.organization {
  font-size: 1.25em;
}

/* times at job, h5 */
.date {
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: italic;
  font-size: 1em;
}

/* used to be <p> */
.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0x;
  margin-left: 0px;
}

/* list for contact info */
.menu {
  text-size: 1em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  display: inline;
}

#degrees {

}

/* lists */
UL {
  text-size: 1em;
}

/*
a tool box:

margin-top: 0px;
margin-bottom: 0px;
margin-right: 0x;
margin-left: 0px;
 */
