.bg

#boxmodel {
width: 300px;
border: 30px white;
padding: 80px;
margin: 40px;
}

p {
  font-family: 'Times New Roman', sans-serif;
  font-size: 12px;
}

.caption {
  font-size: 10px;
  text-align: center;
}

footer {
  display: block;
}

img {
  display: block;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
